
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'locations:vote' question.id %}" method="post">
{% csrf_token %}
{% for TestChoice in question.testchoice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ TestChoice.id }}">
    <label for="TestChoice{{ forloop.counter }}">{{ TestChoice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>



<!-- Previous version - just listed the options 
 <ul>
{% for TestChoice in question.testchoice_set.all %}
    <li>{{ TestChoice.choice_text }}</li>
{% endfor %}
</ul> -->